<div id="particles">
  <div id="intro">
    <nav class="navbar">
      <div class="nav-wrapper">
        <ul>
          <li><a ui-sref="Profile">Profile</a></li>
          <li><a ui-sref="Experience">Experience</a></li>
          <li><a ui-sref="Technology">Technology</a></li>
          <li><a ui-sref="Education">Education</a></li>
          <li><a ui-sref="Projects">Projects</a></li>
          <!-- <li><a ui-sref="Photography">Photography</a></li> -->
        </ul>
      </div>
    </nav>
  <h1>Education</h1>

  <div class="info-block">
    <div class="info-section">
      <h2>RefactorU</h2>
      <p>2016<p>
        <p>
          ⇒	Immersive Javascript Engineering Program <br>
          ⇒	Studied Javascript Engineering, Product Development, and Application Deployment
        </p>
    </div>
    <div class="info-section">
      <h2>University of Central Oklahoma<h2>
      <p>2014 - Present<p>
        <p>
          ⇒	Studying for Bachelors in Mass Communication <br>
          ⇒	Studied Digital Media, Journalism, Photography, and Ethics
        </p>
    </div>
    <div class="info-section">
      <h2>Oklahoma City Community College<h2>
      <p>2012 - 2015<p>
        <p>
          ⇒	Studied Film and Video Production <br>
          ⇒ RED Camera Operator on “Distant Vision” Directed by Francis Ford Coppola <br>
          ⇒ Director of Photography on “The Tie That Binds” Directed by Chi Lee <br>
          ⇒ Director of "Beyond Oblivion" a Bison Documentary <br>
    </div>

  </div>
</div>
</div>
