<div id="particles">
  <div id="intro">
    <nav class="navbar">
      <div class="nav-wrapper">
        <ul>
          <li><a ui-sref="Profile">Profile</a></li>
          <li><a ui-sref="Experience">Experience</a></li>
          <li><a ui-sref="Technology">Technology</a></li>
          <li><a ui-sref="Education">Education</a></li>
          <li><a ui-sref="Projects">Projects</a></li>
          <!-- <li><a ui-sref="Photography">Photography</a></li> -->
        </ul>
      </div>
    </nav>
    <h1>Experience</h1>

    <div class="info-block">
      <div class="info-section">
        <h2>Pylot LLC</h2>
        <p>2016 - 2017</p>
          <p>
            ⇒	Designed/maintained the company’s website using the SquareSpace framework <br>
            ⇒	Planned and executed drone operations <br>
            ⇒ Performed inspections on real estate properties <br>
            ⇒ Managed support emails, newsletters, and social media <br>
          </p>
      </div>
      <div class="info-section">
        <h2>DroneBois LLC<h2>
        <p>2016</p>
          <p>
            ⇒	Managed and designed the Pilot Network of over 86 pilots nationwide <br>
            ⇒	Ensured operational safety, performed interviews, and recruited new pilots <br>
            ⇒	Performed inspections on oil and gas pipelines, solar panels, and real estate properties <br>
            ⇒	Curated and created content for social media and film festivals
          </p>
      </div>
      <div class="info-section">
        <h2>Freelance Photographer<h2>
        <p>2012 - Present</p>
          <p>
            ⇒	Coordinated with 20+ companies on personalized brand campaigns <br>
            ⇒ Weddings, Events, Conventions, Portraits, Senior Photos <br>
            ⇒ Published in The Oklahoman 25+ times, TerritoryOKC, and Oklahoma Tourism <br>
          </p>
      </div>
      <div class="info-section">
        <h2>Tinker Federal Credit Union<h2>
        <p>2013 - 2015</p>
          <p>
            ⇒	Managed member’s cash, checks, and credit cards <br>
            ⇒ Performed over 200 accurate individual transactions a day <br>
            ⇒ Assisted in auditing over $1.75 Million everyday in the branch vault <br>
          </p>
      </div>
      <div class="info-section">
        <h2>TrueSky Credit Union<h2>
        <p>2012 - 2013</p>
          <p>
            ⇒	Managed member’s cash, checks, and credit cards <br>
            ⇒ Performed over 150 accurate individual transactions a day <br>
            ⇒ Wrote reports, cleared cash machines, operated the Drive Thru <br>
          </p>
      </div>

    </div>
  </div>
</div>
