<div id="particles">
  <div id="intro">
    <nav class="navbar">
      <div class="nav-wrapper">
        <ul>
          <li><a ui-sref="Profile">Profile</a></li>
          <li><a ui-sref="Experience">Experience</a></li>
          <li><a ui-sref="Technology">Technology</a></li>
          <li><a ui-sref="Education">Education</a></li>
          <li><a ui-sref="Projects">Projects</a></li>
          <!-- <li><a ui-sref="Photography">Photography</a></li> -->
        </ul>
      </div>
    </nav>

  </div>
</div>
