<div id="particles">
  <div id="intro">
    <nav class="navbar">
      <div class="nav-wrapper">
        <ul>
          <li><a ui-sref="Profile">Profile</a></li>
          <li><a ui-sref="Experience">Experience</a></li>
          <li><a ui-sref="Technology">Technology</a></li>
          <li><a ui-sref="Education">Education</a></li>
          <li><a ui-sref="Projects">Projects</a></li>
          <!-- <li><a ui-sref="Photography">Photography</a></li> -->
        </ul>
      </div>
    </nav>

    <h1>Profile</h1>

    <div class="profile-pic-section">
      <img id="profile-pic" src="../images/profilepicture.jpg" alt="profile picture">
      <h2>Clay Taylor</h2>
      <a class="btn" href="mailto:claydevelops@gmail.com?Subject=Hello">Email</a>
      <a class="btn" href="https://github.com/ClaytonTaylor" target="_blank">GitHub</a>
      <a class="btn" href="https://www.linkedin.com/in/clay-taylor-create/" target="_blank">LinkedIn</a>
      <a class="btn" href="https://www.instagram.com/claytontaylor/" target="_blank">Instagram</a>
    </div>
<div class="profile-block">
    <div class="profile-section">
        <p id="profile-title">Titles<p>
          <h3>Web Developer<h3>
          <h3>Front-End Developer<h3>
          <h3>UI Designer<h3>
    </div>
    <!-- <div class="profile-section">
        <p id="profile-title">Birthday<p>
          <h3> March 15, 1994</h3>
    </div> -->
    <div class="profile-section">
        <p id="profile-title">Locations</p>
          <h3>Boulder, Colorado<h3>
          <p>*Open to Relocation or Remote Work</p>
    </div>

</div>

  </div>
</div>
