<div id="particles">
  <div id="intro">
    <nav class="navbar">
      <div class="nav-wrapper">
        <ul>
          <li><a ui-sref="Profile">Profile</a></li>
          <li><a ui-sref="Experience">Experience</a></li>
          <li><a ui-sref="Technology">Technology</a></li>
          <li><a ui-sref="Education">Education</a></li>
          <li><a ui-sref="Projects">Projects</a></li>
          <!-- <li><a ui-sref="Photography">Photography</a></li> -->
        </ul>
      </div>
    </nav>
    <h1>Technology</h1>
    <div class="info-block">
      <div class="tech-section">
        <h2>Languages<h2>
          <div class="languages">
            <img id="logo" src="../logos/languages/html5.png" alt="html5 logo">
            <img id="logo" src="../logos/languages/css3.png" alt="css logo">
            <img id="logo" src="../logos/languages/javascript.png" alt="js logo">
          </div>
      <div class="tech-section">
        <h2>Frameworks<h2>
          <div class="frameworks">
            <img id="logo" src="../logos/frameworks/angular.png" alt="angular logo">
            <img id="logo" src="../logos/frameworks/expressjs.jpg" alt="express logo">
          </div>
      </div>
      <div class="tech-section">
        <h2>Tools<h2>
          <div class="tools">
            <img id="logo" src="../logos/tools/nodejs.png" alt="node logo">
            <img id="logo" src="../logos/tools/jquery.gif" alt="jquery logo">
            <img id="logo" src="../logos/tools/bootstrap.png" alt="boostrap logo">
            <img id="logo" src="../logos/tools/sublime.png" alt="sublime logo">
            <img id="logo" src="../logos/tools/atom.png" alt="atom logo">
          </div>
      </div>
      <div class="tech-section">
        <h2>Data<h2>
          <div class="tech-data">
            <img id="logo" src="../logos/data/mongodb.png" alt="mongodb logo">
            <img id="logo" src="../logos/data/github.png">
          </div>
      </div>
      <div class="tech-section">
        <h2>Read Only Languages<h2>
          <div class="read-only">
            <img id="logo" src="../logos/read-only/react.png" alt="react logo">
            <img id="logo" src="../logos/read-only/c-sharp.png" alt="csharp logo">
            <img id="logo" src="../logos/read-only/python.png" alt="python logo">
            <img id="logo" src="../logos/read-only/php.png" alt="php logo">
          </div>
      </div>
      <div class="tech-section">
        <h2>Design<h2>
          <div class="read-only">
            <img id="logo" src="../logos/design/lightroom.png" alt="lightroom logo">
            <img id="logo" src="../logos/design/photoshop.png" alt="photoshop logo">
            <img id="logo" src="../logos/design/premiere.png" alt="premiere logo">
            <img id="logo" src="../logos/design/squarespace.png" alt="squarespace logo">
            <img id="logo" src="../logos/design/wordpress.png" alt="wordpress logo">
          </div>
      </div>


  </div>
</div>
